@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/sf-pro-text_regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/fonts/sf-pro-text_semibold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display_regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/public/fonts/sf-pro-display_semibold.woff2") format("woff2");
  font-weight: 600;
}

@layer base {
  html,
  body {
    @apply h-screen;
  }
  html {
    @apply antialiased;
  }

  body {
    @apply font-body bg-[#fafafa];
  }
}

@layer components {
  .text-24 {
    @apply text-[24px] tracking-[0.216px] leading-[28px] font-display font-semibold;
  }

  .text-80 {
    @apply text-[80px] tracking-[-1.2px] leading-[84px] font-display font-bold;
  }

  .text-19 {
    @apply text-[19px] tracking-[0.228px] leading-[23px] font-display font-semibold;
  }
}

@layer utilities {
}
